Repository Trim21/transmission-rpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, yapf

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/Trim21/pre-commit-hooks
    rev: v0.0.1
    hooks:
      - id: yamlfmt

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files  # check for file bigger than 500kb
      - id: debug-statements
      - id: trailing-whitespace
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.4.1
    hooks:
      - id: pyupgrade
        args: [--py36-plus]

  - repo: https://github.com/Trim21/mirrors-autoflake
    rev: v1.3.1
    hooks:
      - id: autoflake
        require_serial: true
        args: [--in-place, --remove-unused-variables, --remove-all-unused-imports, --expand-star-imports]

  - repo: https://github.com/PyCQA/doc8.git
    rev: 0.8.1rc3
    hooks:
      - id: doc8
        name: Check rst file
        args: [--config, setup.cfg]
        files: \.rst$

  - repo: https://github.com/Trim21/poetry-check-lock.git
    rev: v0.0.2
    hooks:
      - id: poetry-check-lock

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: [--config=setup.cfg]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        files: transmission_rpc.*$

      - id: yapf
        name: yapf
        entry: yapf -i
        require_serial: true
        language: system
        types: [python]

wip
  transmission_rpc/decorator.py
Due: flake8, mypy, yapf

wip
  setup.cfg
Due: none

chore: add type hint (#19)
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  setup.cfg
  tests/test_decorator.py
  tests/test_torrent.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/decorator.py
  transmission_rpc/error.py
  transmission_rpc/lib_types.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

chore(dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

chore: config renovatebot
  .github/renovate.json
Due: none

build(docs): update dependency sphinx to v3.1.2
  poetry.lock
  pyproject.toml
Due: none

test
  tests/test_client.py
  transmission_rpc/torrent.py
Due: flake8, mypy, yapf

add type File
  tests/test_torrent.py
  transmission_rpc/client.py
  transmission_rpc/lib_types.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

add typing-extension to deps
  poetry.lock
  pyproject.toml
Due: none

add tests
  tests/test_client.py
Due: flake8, yapf

add type check
  tests/test_client.py
Due: flake8, yapf

add test
  tests/test_client.py
Due: flake8, yapf

update type hint
  transmission_rpc/client.py
Due: flake8, mypy, yapf

refactor: return File instead of return dict (#23)
  poetry.lock
  pyproject.toml
  tests/test_client.py
  tests/test_torrent.py
  transmission_rpc/client.py
  transmission_rpc/lib_types.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

docs: update changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  changelog.md
Due: none

docs(client): update docstring
  transmission_rpc/client.py
Due: flake8, mypy, yapf

refactor: remove kwargs checker as a ValueError will be raised
  tests/test_client.py
  tests/test_decorator.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
Due: flake8, mypy, yapf

docs(client): update docstring for add_torrent
  transmission_rpc/client.py
Due: flake8, mypy, yapf

chore: remove duplicated pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: fix type hint
  transmission_rpc/session.py
Due: flake8, mypy, yapf

docs(client): break too long description
  transmission_rpc/client.py
Due: flake8, mypy, yapf

chore: use official autoflake
  .pre-commit-config.yaml
Due: none

style: use black instead of yapf as formatter
  .pre-commit-config.yaml
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_client.py
  tests/test_parse_id.py
  tests/test_torrent.py
  tests/test_utils.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/error.py
  transmission_rpc/lib_types.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

chore(deps): lock file maintenance
  poetry.lock
Due: none

chore(dev): pin dependency flake8 to 3.8.3
  poetry.lock
  pyproject.toml
Due: none

ci: update poetry actions
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

v3.0.0a4
  README.md
  pyproject.toml
Due: none

docs: update changelog
  changelog.md
Due: none

tests: fix torrent url 404
  tests/test_client.py
Due: flake8, yapf

v3.0.0
  pyproject.toml
Due: none

docs: update readme
  README.md
Due: none

chore: add a pytest plugin to annotate failure tests
  poetry.lock
  pyproject.toml
Due: none

build(docs): update dependency sphinx to v3.2.1
  poetry.lock
  pyproject.toml
Due: none

chore(dev): pin dependency pytest-github-actions-annotate-failures to 0.0.6
  poetry.lock
  pyproject.toml
Due: none

v3.0.1
  changelog.md
  pyproject.toml
Due: none

ci: release new version on pypi
  .github/workflows/release.yaml
Due: none
