Repository Trim21/transmission-rpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, flake8, pyupgrade, autoflake, doc8

isort:
  name: isort
  entry: isort
  require_serial: true
  language: system

yapf:
  name: yapf
  entry: yapf -i
  require_serial: true
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=setup.cfg

pyupgrade:
  name: pyupgrade
  entry: pyupgrade
  require_serial: true
  language: system
  args:
  - --py3-plus

autoflake:
  name: autoflake
  entry: autoflake
  require_serial: true
  language: system
  args:
  - --in-place
  - --remove-unused-variables
  - --remove-all-unused-imports

doc8:
  name: Check rst file
  language: system
  entry: doc8 --config setup.cfg

refacctor code with lint and formatter
  .travis.yml
  test/__init__.py
  test/client.py
  test/data/add.json
  test/data/add_torrent_base64.json
  test/data/adduri.json
  test/data/addurl.json
  test/data/construction.json
  test/data/get_torrent.json
  test/data/get_torrent_hash.json
  test/data/get_torrents_2to3.json
  test/data/get_torrents_hashes.json
  test/data/info.json
  test/data/remove.json
  test/data/start.json
  test/data/stop.json
  test/data/torrent.txt
  test/data/verify.json
  test/top.py
  test/torrent.py
  test/utils.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/error.py
  transmission_rpc/session.py
  transmission_rpc/test_client.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

github actions as ci
  .github/workflows/ci.yaml
  .travis.yml
Due: none

fix github actions
  .github/workflows/ci.yaml
Due: none

workaround poetry#1883
  .github/workflows/ci.yaml
Due: none

fix: arguments will work
  .gitignore
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

Update README.md
  README.md
Due: none

fix: cache with python version change
  .github/workflows/ci.yaml
Due: none

fix: poetry bug
  .github/workflows/ci.yaml
Due: none

chore(deps): add renovate.json
  renovate.json
Due: none

refactor: Client will use yarl to build url
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  doc/source/index.rst
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_client.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/test_client.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

feat: warn about arguments replace
  .github/workflows/ci.yaml
  setup.cfg
  tests/test_decorator.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
Due: isort, yapf, flake8, pyupgrade, autoflake

feat: check rpc version for kwargs
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .readthedocs.yml
  README.md
  docs/Makefile
  docs/rpc-spec.txt
  docs/source/client.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/utils.rst
  poetry.lock
  pyproject.toml
  tests/test_decorator.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
  transmission_rpc/error.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

lint: pyupgrade --py36-plus
  .pre-commit-config.yaml
Due: none

ci: restore pre-commit cache from same python version
  .github/workflows/ci.yaml
Due: none

tests: real backend
  .github/workflows/ci.yaml
  tests/docker-compose.yaml
  tests/test_client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

style: use 100 width
  docs/source/conf.py
  setup.cfg
  test/__init__.py
  test/torrent.py
  test/utils.py
  tests/test_decorator.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/decorator.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: remove dead code
  test/__init__.py
  test/top.py
  tests/test_utils.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: remove meta attrs from package root
  docs/source/conf.py
  transmission_rpc/__init__.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: update license date
  AUTHORS
  LICENSE
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: remove dead code
  test/__init__.py
  test/data/add.json
  test/data/add_torrent_base64.json
  test/data/adduri.json
  test/data/addurl.json
  test/data/construction.json
  test/data/get_torrent.json
  test/data/get_torrent_hash.json
  test/data/get_torrents_2to3.json
  test/data/get_torrents_hashes.json
  test/data/info.json
  test/data/remove.json
  test/data/start.json
  test/data/stop.json
  test/data/torrent.txt
  test/data/ubuntu-12.04.2-alternate-amd64.iso.torrent
  test/data/verify.json
  tests/test_torrent.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update pre-commit config (#3)
  .pre-commit-config.yaml
Due: none

refactor: use @property
  docs/source/index.rst
  docs/source/torrent.rst
  transmission_rpc/client.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

chore: type hint
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  transmission_rpc/client.py
  transmission_rpc/decorator.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

tests: rewrite test case with pytest
  tests/test_torrent.py
  tests/test_utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

build: remove useless deps
  poetry.lock
  pyproject.toml
Due: none

chore: add renovate config
  .github/renovate.json
Due: none

build: remove unused deps
  poetry.lock
  pyproject.toml
Due: none

docs: update readme doc link
  README.md
Due: none

chore: update ci cache key
  .github/workflows/ci.yaml
Due: none

bugfix: host parameter in Client.__init__ works without address
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

fix(client): host parameter in Client.__init__ works without address (#6)
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

v2.0.4
  pyproject.toml
Due: none

docs(changelog): add changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  changelog.md
Due: none

docs(changelog): readability
  .chglog/config.yml
  changelog.md
Due: none

build(deps-dev): pin dependencies
  poetry.lock
  pyproject.toml
Due: none

build(deps-dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  yapf: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  autoflake: any of: \.py$
  doc8: any of: \.rst$
