Repository Trim21/transmission-rpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, yapf, flake8, pyupgrade, autoflake, doc8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-byte-order-marker
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: debug-statements
      - id: trailing-whitespace
      - id: debug-statements
      - id: mixed-line-ending
        args: [--fix=lf]

      # check for file bigger than 500kb
      - id: end-of-file-fixer
      - id: double-quote-string-fixer
      - id: fix-encoding-pragma
        args: [--remove]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types: [python]

      - id: yapf
        name: yapf
        entry: yapf -i
        require_serial: true
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        args: ['--config=setup.cfg']

      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade
        require_serial: true
        language: system
        types: [python]
        args: ['--py3-plus',]

      - id: autoflake
        name: autoflake
        entry: autoflake
        require_serial: true
        language: system
        types: [python]
        args: ['--in-place',
               '--remove-unused-variables',
               '--remove-all-unused-imports']

      - id: doc8
        name: Check rst file
        language: system
        entry: doc8 --config setup.cfg
        files: \.rst$

fix: poetry bug
  .github/workflows/ci.yaml
Due: none

fix: cache with python version change
  .github/workflows/ci.yaml
Due: none

refactor: Client will use yarl to build url
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  doc/source/index.rst
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_client.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/test_client.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

feat: check rpc version for kwargs
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  .readthedocs.yml
  README.md
  docs/Makefile
  docs/rpc-spec.txt
  docs/source/client.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/utils.rst
  poetry.lock
  pyproject.toml
  tests/test_decorator.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
  transmission_rpc/error.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

chore: remove dead code
  test/__init__.py
  test/top.py
  tests/test_utils.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

tests: real backend
  .github/workflows/ci.yaml
  tests/docker-compose.yaml
  tests/test_client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: remove meta attrs from package root
  docs/source/conf.py
  transmission_rpc/__init__.py
Due: isort, yapf, flake8, pyupgrade, autoflake

ci: restore pre-commit cache from same python version
  .github/workflows/ci.yaml
Due: none

lint: pyupgrade --py36-plus
  .pre-commit-config.yaml
Due: none

chore: update license date
  AUTHORS
  LICENSE
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

style: use 100 width
  docs/source/conf.py
  setup.cfg
  test/__init__.py
  test/torrent.py
  test/utils.py
  tests/test_decorator.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/decorator.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

feat: warn about arguments replace
  .github/workflows/ci.yaml
  setup.cfg
  tests/test_decorator.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: update ci cache key
  .github/workflows/ci.yaml
Due: none

chore: update pre-commit config (#3)
  .pre-commit-config.yaml
Due: none

docs: license
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/decorator.py
  transmission_rpc/error.py
  transmission_rpc/session.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

refactor: use @property
  docs/source/index.rst
  docs/source/torrent.rst
  transmission_rpc/client.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

build: update workflows
  .github/workflows/lint.yaml
  poetry.lock
  pyproject.toml
Due: none

build: remove unused deps
  poetry.lock
  pyproject.toml
Due: none

tests(client) add torrent base64
  tests/test_client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

docs: client torrent ids
  docs/source/client.rst
  tests/test_parse_id.py
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake, doc8

refactor api
  transmission_rpc/client.py
  transmission_rpc/constants.py
Due: isort, yapf, flake8, pyupgrade, autoflake

build: remove useless deps
  poetry.lock
  pyproject.toml
Due: none

tests: rewrite test case with pytest
  tests/test_torrent.py
  tests/test_utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: remove dead code
  test/__init__.py
  test/data/add.json
  test/data/add_torrent_base64.json
  test/data/adduri.json
  test/data/addurl.json
  test/data/construction.json
  test/data/get_torrent.json
  test/data/get_torrent_hash.json
  test/data/get_torrents_2to3.json
  test/data/get_torrents_hashes.json
  test/data/info.json
  test/data/remove.json
  test/data/start.json
  test/data/stop.json
  test/data/torrent.txt
  test/data/ubuntu-12.04.2-alternate-amd64.iso.torrent
  test/data/verify.json
  tests/test_torrent.py
Due: isort, yapf, flake8, pyupgrade, autoflake

tests(client): test add torrent
  tests/fixtures/iso.torrent
  tests/test_client.py
  tests/test_parse_id.py
  transmission_rpc/client.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: type hint
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  transmission_rpc/client.py
  transmission_rpc/decorator.py
  transmission_rpc/utils.py
Due: isort, yapf, flake8, pyupgrade, autoflake

v3.0.0a1
  README.md
  changelog.md
  pyproject.toml
Due: none

docs: add codecov badge
  README.md
Due: none

docs: readme badge link
  README.md
Due: none

docs: removed kwargs
  docs/source/index.rst
Due: doc8

build: add classifiers
  pyproject.toml
Due: none

v3.0.0a2
  README.md
  pyproject.toml
Due: none

docs: disable max-width
  docs/source/_templates/layout.html
Due: none

docs: update
  .readthedocs.yml
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

style: yamlfmt
  .chglog/config.yml
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  tests/docker-compose.yaml
Due: none

chore: type hint
  poetry.lock
  pyproject.toml
  transmission_rpc/client.py
Due: isort, yapf, flake8, pyupgrade, autoflake

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

chore: update pre-commit config (#5)
  .pre-commit-config.yaml
Due: none

build(deps): update deps-prod
  poetry.lock
  pyproject.toml
Due: none

build(deps): pin dependencies
  poetry.lock
  pyproject.toml
Due: none
