Repository Trim21/transmission-rpc: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, yapf

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --config=setup.cfg

mypy:
  name: mypy
  entry: mypy
  language: system

yapf:
  name: yapf
  entry: yapf -i
  require_serial: true
  language: system

build(deps): pin sphinx
  .github/renovate.json
  poetry.lock
  pyproject.toml
Due: none

build: pin deps
  poetry.lock
  pyproject.toml
Due: none

docs: fix rpc spec url
  docs/rpc-spec.txt
  docs/source/index.rst
Due: none

ci: use setup-poetry and install-poetry-project
  .github/workflows/ci.yaml
  .github/workflows/lint.yaml
Due: none

tests: client methods
  tests/test_client.py
Due: flake8, yapf

docs: update readme
  README.md
Due: none

chore(dev): update deps-dev
  poetry.lock
  pyproject.toml
Due: none

build(docs): update deps-docs
  poetry.lock
  pyproject.toml
Due: none

fix: failed to add url which is http url but not endwith 'torrent'
  transmission_rpc/client.py
Due: flake8, mypy, yapf

tests(client): add test for url not endswith 'torrent'
  tests/test_client.py
Due: flake8, yapf

fix(client): failed to add url which is http url but not end with 'torrent' (#16)
  tests/test_client.py
  transmission_rpc/client.py
Due: flake8, mypy, yapf

ci: bump actions/cache to v2
  .github/workflows/lint.yaml
Due: none

chore: update pre-commit config (#5)
  .pre-commit-config.yaml
Due: none

chore: type hint
  pyproject.toml
  transmission_rpc/client.py
Due: flake8, mypy, yapf

refactor: add_torrent
  tests/test_client.py
  transmission_rpc/client.py
Due: flake8, mypy, yapf

tests: refactor test case name
  tests/test_client.py
Due: flake8, yapf

v3.0.0a3
  .chglog/config.yml
  README.md
  changelog.md
  pyproject.toml
Due: none

docs: update changelog
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  changelog.md
Due: none

chore: remove useless import as
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

chore: update pre-commit config
  .pre-commit-config.yaml
Due: none

ci: ignore codecov upload failure
  .github/workflows/ci.yaml
Due: none

chore: update isort config
  pyproject.toml
  setup.cfg
  tests/test_torrent.py
  transmission_rpc/__init__.py
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/decorator.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

[wip]: type hint
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  setup.cfg
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
  transmission_rpc/torrent.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
  transmission_rpc/torrent.py
  transmission_rpc/types.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
  transmission_rpc/error.py
  transmission_rpc/session.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
  transmission_rpc/session.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/torrent.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/client.py
  transmission_rpc/constants.py
  transmission_rpc/torrent.py
Due: flake8, mypy, yapf

wip
  tests/test_decorator.py
  tests/test_torrent.py
  transmission_rpc/client.py
  transmission_rpc/decorator.py
  transmission_rpc/lib_types.py
  transmission_rpc/session.py
  transmission_rpc/torrent.py
  transmission_rpc/utils.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/decorator.py
  transmission_rpc/torrent.py
Due: flake8, mypy, yapf

wip
  .pre-commit-config.yaml
  transmission_rpc/client.py
Due: flake8, mypy, yapf

wip
  transmission_rpc/decorator.py
Due: flake8, mypy, yapf

Path conditions:
  flake8: any of: \.py$
  mypy: any of: transmission_rpc.*$ and \.py$
  yapf: any of: \.py$
